<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active current" [routerLinkActiveOptions]={exact:true}><a routerLinkActive = "">Messages</a></li>
        <li routerLinkActive="active current" [routerLinkActiveOptions]={exact:true}><a routerLinkActive = "/users">Users</a></li>
        
        <li></li>
      </ul>
    </div>
  </div>
</nav>
