<message-forms (addMessage) = "optimisticAdd($event)" (addMessagePs) = "pessimisticAdd()"></message-forms>
<h2>
  List of messages!

  </h2>
    <ul class = "list-group">
        <li class = "list-group-item" *ngFor = "let key of messagesKeys">
               <button class="btn btn-danger" (click) = "deleteMessage(key)">Delete</button>
               <a [routerLink] = "['/message', key]">{{'message number '+key+' '+messages[key].body}}</a>
        </li>
    </ul>
